@import "../../styles/_variables.scss";

.profile-card {
  border: 4px solid $green;
  border-radius: 5px;
  padding: $padding;
  margin: $margin;
  background-color: $blue;
  color: $white;
}

.profile-card div {
  display: block;
  float: left;
}
